<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laurensius_dede_suhardiman.foodmarketplace">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".appcontroller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/icon_no_session"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_no_session"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailProduct" />
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RiwayatTransaksiPembelian"
            android:label="@string/title_activity_riwayat_transaksi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RiwayatTransaksiPenjualan"
            android:label="@string/title_activity_riwayat_transaksi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".KonfirmasiPembayaran" />
        <activity android:name=".BukaToko" />
        <activity android:name=".AddProduct" />
        <activity android:name=".ProductReview" />
        <activity android:name=".ResultSearch" />
        <activity android:name=".ShopProduct" />
        <activity android:name=".EditProduct" />

        <service
            android:name=".ServiceNotification"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PenarikanSaldo"
            android:label="@string/title_activity_penarikan_saldo"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".FoodMarketplace"></activity>
    </application>

</manifest>